<strong>Olá, {{provider}}</strong>

<p>Houve um cancelamento de horário. Confira os detalhes abaixo:</p>

<p>
    <strong>Cliente: </strong>{{user}} <br />
    <strong>Data/hora: </strong>{{date}} <br />
    <br />
    <small>
        O horário acima está novamente disponível para agendamentos via GoBarber.
    </small>
</p>